<HeadLayout />
{{title "NOÖDESIGN | MEDIATING MINDS BY TECHNOLOGIES"}}
<div class={{css "application"}}>
  <A11yLandmark @tagName="header" class={{css "header"}}>
    <HomeButton />
    <MenuButton @onClick={{toggle "isExpanded" headData}} />
    <MenuList @isExpanded={{headData.isExpanded}} @nav={{model.nav}} />
  </A11yLandmark>
  <A11yLandmark @tagName="main" class="mt-6 mb-12 flex-1">
    <FocusingOutlet />
  </A11yLandmark>
  <A11yLandmark @tagName="footer" id="contact" class={{css "footer"}}>
    <p class="text-center m-6">
      {{t "contact"}}
      <a
        class="text-white p-1 focus:outline-none focus:shadow-outline"
        href="mailto:{{headData.email}}"
      >
        {{headData.email}}
      </a>
    </p>
  </A11yLandmark>
</div>