{{title @model.title}}

<div class="container md:px-8">
  {{#if @model.isDc}}
    <ResponsiveImage
      @image="affiche_designingcommunity.jpg"
      class="w-full"
      alt={{@model.title}}
    />
    <time class="block font-semibold my-6 text-left">
      {{t "Les 19 et 20 avril 2019"}}
    </time>

    <p class="text-left mb-4">
      <a
        href="https://espace-niemeyer.fr/index.php/plans/"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-semibold no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "l’auditorium de l’Espace Niemeyer"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="https://noodesign.org/DESIGNING_COMMUNITY_brochure.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Brochure"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="https://noodesign.org/DESIGNING_COMMUNITY_programme.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Programme"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="https://vimeo.com/327944021"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Le teaser du colloque"}}
      </a>
    </p>
    <p class="text-left mb-4">
      <a
        href="https://www.eventbrite.fr/e/billets-designing-community-59780348632?aff=ebdshpsearchautocomplete"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Pour s’inscrire"}}
      </a>
    </p>
  {{else if @model.isDnp}}
    <ResponsiveImage
      @image="DNP_affiche.jpg"
      class="w-full"
      alt={{@model.title}}
    />
    <time class="block font-semibold my-6 text-left">
      {{t "Le samedi 7 mars 2020"}}
    </time>

    <p class="text-left mb-4">
      <a
        href="https://www.mshparisnord.fr"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-semibold no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Maison des Sciences de l’Homme Paris Nord"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="https://www.helloasso.com/associations/noodesign/evenements/democratie-numerique-populaire"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Pour s’inscrire"}}
      </a>
    </p>
  {{else}}
    <EventTitle class="text-center m-8">
      {{@model.title}}
    </EventTitle>
    <time class="block font-medium mb-6">
      {{@model.date}}
    </time>
    {{#if @model.location}}
      <p class="text-left mb-6">
        {{at @model.location}}
        {{autoLink @model.location}}
      </p>
    {{/if}}
  {{/if}}
  <p class="text-left my-4">
    {{#each @model.description as |line|}}
      <p>
        {{line}}
      </p>
    {{/each}}
  </p>
  {{#if @model.isDc}}
    {{#link-to
      "argumentaire-theorique"
      class="mb-4 block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
    }}
      {{t "Argumentaire théorique"}}
    {{/link-to}}
  {{/if}}
  {{#if @model.guests.length}}
    <p class="text-left mb-6">
      {{t "guests"}}
      {{join @model.guests}}
    </p>
  {{/if}}

  {{#if @model.partners.length}}
    {{#if @model.isDnp}}
      {{#each @model.partners as |category|}}
        <p class="text-left mb-2 font-bold">
          {{category.label}} :
        </p>
        {{#each category.partners as |text|}}
          <p class="text-left mb-2">
            {{autoLink text}}
          </p>
        {{/each}}
      {{/each}}
    {{else}}
      <p class="text-left mb-2">
        {{t "organisers"}}
      </p>

      {{#each @model.partners as |text|}}
        <p class="text-left mb-2">
          {{autoLink text}}
        </p>
      {{/each}}
    {{/if}}
  {{/if}}

  {{#each @model.urls as |url|}}
    <p class="text-left mb-2">
      <a href={{url}}>
        {{link-title url}}
      </a>
    </p>
  {{/each}}

  {{#if @model.isDc}}
    <ResponsiveImage
      @image="partners.png"
      class="w-full mt-6"
      alt="Partenaires"
    />
  {{else if @model.isDnp}}
    <ResponsiveImage
      @image="DNP_partners.png"
      class="w-full mt-6"
      alt="Partenaires"
    />
  {{/if}}
</div>