<div class="container md:px-8">
  <h2 class="text-center m-8">{{model.slug}}</h2>

  <time class="block font-medium">{{model.date}}</time>
  <h3 class="mt-4 mb-6">{{model.title}}</h3>

  {{#if model.with}}
    <p class="text-left mb-6">avec : {{model.with}}</p>
  {{/if}}

  <p class="text-left mb-2">Partenaires organisateurs :</p>
  {{#each model.organizers as |text|}}
    <p class="text-left mb-2">{{text}}</p>
  {{/each}}
</div>
