{{title model.title}}
<div class="container md:px-8">
  <EventTitle class="text-center m-8">
    {{model.title}}
  </EventTitle>
  <time class="block font-medium mb-6">
    {{model.date}}
  </time>
  {{#if model.location}}
    <p class="text-left mb-6">
      {{at model.location}}
      {{autoLink model.location}}
    </p>
    <p class="text-center">
      {{!-- {{#if model.isCurrent}}
        <ResponsiveImage
          @image="niemeyer.jpg"
          class="w-full"
          alt="Auditorium Espace Niemeyer"
        />
      {{/if}} --}}
    </p>
  {{/if}}
  <p class="text-left my-4">
    {{model.description}}
  </p>
  {{#if model.isCurrent}}
    {{#link-to "argumentaire-theorique" class="block mb-6"}}
      {{t "Argumentaire théorique"}}
    {{/link-to}}
  {{/if}}
  {{#if model.guests.length}}
    <p class="text-left mb-6">
      {{t "guests"}}
      {{join model.guests}}
    </p>
  {{/if}}
  {{!-- {{#if model.isCurrent}}
    <ul class="list-reset mb-6">
      <li>Nombre d’intervenants : 30</li>
      <li>Durée des interventions : 30 min</li>
      <li>Durée de la discussion avec 3 ou 4 autres intervenants : 20 min</li>
      <li>Déjeuner : 2 buffets avec tous les intervenants</li>
    </ul>
  {{/if}} --}}
  {{#unless model.isCurrent}}
    {{#if model.partners.length}}
      <p class="text-left mb-2">
        {{t "organisers"}}
      </p>
      {{#each model.partners as |text|}}
        <p class="text-left mb-2">
          {{autoLink text}}
        </p>
      {{/each}}
    {{/if}}
  {{/unless}}
  {{#each model.urls as |url|}}
    <p class="text-left mb-2">
      <a href={{url}}>
        {{link-title url}}
      </a>
    </p>
  {{/each}}

  <ResponsiveImage @image="partners.png" class="w-full mt-6" alt="Partenaires" />
</div>
