{{title model.title}}
<div class="container md:px-8">
  {{#if model.isCurrent}}
    <ResponsiveImage
      @image="affiche_designingcommunity.jpg"
      class="w-full"
      alt={{model.title}}
    />
    <time class="block font-semibold my-6 text-left">
      {{t "Les 19 et 20 avril 2019"}}
    </time>
    
    <p class="text-left mb-4">
      <a
        href="https://espace-niemeyer.fr/index.php/plans/"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-semibold no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "l’auditorium de l’Espace Niemeyer"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="/brochure.pdf"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Brochure"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="/programme.jpg"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Programme"}}
      </a>
    </p>

    <p class="text-left mb-4">
      <a
        href="https://vimeo.com/327944021"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Le teaser du colloque"}}
      </a>
    </p>
    <p class="text-left mb-4">
      <a
        href="https://www.eventbrite.fr/e/billets-designing-community-59780348632?aff=ebdshpsearchautocomplete"
        target="_blank"
        rel="noreferrer noopener"
        class="block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
      >
        {{t "Pour s’inscrire"}}
      </a>
    </p>
  {{else}}
    <EventTitle class="text-center m-8">
      {{model.title}}
    </EventTitle>
    <time class="block font-medium mb-6">
      {{model.date}}
    </time>
    {{#if model.location}}
      <p class="text-left mb-6">
        {{at model.location}}
        {{autoLink model.location}}
      </p>
    {{/if}}
  {{/if}}
  <p class="text-left my-4">
    {{model.description}}
  </p>
  {{#if model.isCurrent}}
    {{#link-to
      "argumentaire-theorique"
      class="mb-4 block font-medium no-underline hover:underline hover:bg-grey-lightest text-grey-darkest shadow"
    }}
      {{t "Argumentaire théorique"}}
    {{/link-to}}
  {{/if}}
  {{#if model.guests.length}}
    <p class="text-left mb-6">
      {{t "guests"}}
      {{join model.guests}}
    </p>
  {{/if}}
  {{!-- {{#if model.isCurrent}}
    <ul class="list-reset mb-6">
      <li>Nombre d’intervenants : 30</li>
      <li>Durée des interventions : 30 min</li>
      <li>Durée de la discussion avec 3 ou 4 autres intervenants : 20 min</li>
      <li>Déjeuner : 2 buffets avec tous les intervenants</li>
    </ul>
  {{/if}} --}}

  {{#if model.partners.length}}
    <p class="text-left mb-2">
      {{t "organisers"}}
    </p>
    {{#each model.partners as |text|}}
      <p class="text-left mb-2">
        {{autoLink text}}
      </p>
    {{/each}}
  {{/if}}

  {{#each model.urls as |url|}}
    <p class="text-left mb-2">
      <a href={{url}}>
        {{link-title url}}
      </a>
    </p>
  {{/each}}

  {{#if model.isCurrent}}
    <ResponsiveImage @image="partners.png" class="w-full mt-6" alt="Partenaires" />
  {{/if}}
</div>
